body{
  background-color: #100F0F;
  color: #E2DCC8;
  text-align: center;
  
}

.btn{
  left: 0;
  right: 0;
  color: #0F3D3E;
  font-family: sans-serif;
  justify-content: center;
  padding : 20px 60px;
  background-color: black;
}
